music/m4p/01 Athena.m4p
music/m4p/01 Flathead.m4p
music/m4p/01 Henrietta (Album Version).m4p
music/m4p/01 Keeping Awake.m4p
music/m4p/01 Meet Virginia.m4p
music/m4p/01 My Sharona.m4p
music/m4p/01 Somewhere Only We Know.m4p
music/m4p/01 The Old Apartment.m4p
music/m4p/01 The Song Remains the Same.m4p
music/m4p/01 The Spirit of Radio.m4p
music/m4p/01 The W.A.N.D..m4p
music/m4p/01 The Yeah Yeah Yeah Song.m4p
music/m4p/01 We're Not Gonna Take It.m4p
music/m4p/01 Whenever You're on My Mind.m4p
music/m4p/1-01 Stir It Up.m4p
music/m4p/1-02 I Still Haven't Found What I'm.m4p
music/m4p/1-04 Cut Your Hair.m4p
music/m4p/1-04 The Kids Are Alright.m4p
music/m4p/1-06 Ahead By a Century.m4p
music/m4p/1-06 Substitute.m4p
music/m4p/1-07 Don't Stop Me Now.m4p
music/m4p/1-07 I'm a Boy.m4p
music/m4p/1-08 Stuck In a Moment You Can't Get.m4p
music/m4p/1-09 One Tree Hill.m4p
music/m4p/1-10 Pictures of Lily.m4p
music/m4p/1-10 Somebody to Love.m4p
music/m4p/1-10 Sweetest Thing (The Single Mix).m4p
music/m4p/1-16 Yellow Ledbetter.m4p
music/m4p/02 Birdhouse in Your Soul.m4p
music/m4p/02 Bright As Yellow.m4p
music/m4p/02 I Palindrome I.m4p
music/m4p/02 In Bloom.m4p
music/m4p/02 Jesus of Suburbia.m4p
music/m4p/02 My Best Friend's Girl.m4p
music/m4p/02 Oh Very Young.m4p
music/m4p/02 Oxford Comma.m4p
music/m4p/02 Someday, Someway.m4p
music/m4p/02 Soul Meets Body.m4p
music/m4p/02 Stone In Love.m4p
music/m4p/02 That Thing You Do!.m4p
music/m4p/02 The Ballad of el Goodo.m4p
music/m4p/02 Wasted & Ready.m4p
music/m4p/02 When You Were Mine.m4p
music/m4p/2-04 Behind the Lines.m4p
music/m4p/2-13 You Better You Bet.m4p
music/m4p/03 A-Punk.m4p
music/m4p/03 Big Me.m4p
music/m4p/03 Fall on Me.m4p
music/m4p/03 Fool In the Rain.m4p
music/m4p/03 Girl.m4p
music/m4p/03 Goodbye Stranger.m4p
music/m4p/03 In the City.m4p
music/m4p/03 It's All I Can Do.m4p
music/m4p/03 Just What I Needed.m4p
music/m4p/03 My Own Worst Enemy.m4p
music/m4p/03 Never Going Back Again.m4p
music/m4p/03 Over the Hills and Far Away.m4p
music/m4p/03 Stacie Anne.m4p
music/m4p/04 Cape Cod Kwassa Kwassa.m4p
music/m4p/04 Chelsea Dagger.m4p
music/m4p/04 Cuyahoga.m4p
music/m4p/04 Don't Let's Start.m4p
music/m4p/04 Face Dances Part Two.m4p
music/m4p/04 I'm Amazed.m4p
music/m4p/04 Rape Me 1.m4p
music/m4p/04 Rape Me.m4p
music/m4p/04 She Don't Use Jelly.m4p
music/m4p/04 Sister Christian.m4p
music/m4p/05 Been Caught Stealing.m4p
music/m4p/05 Everybody's Changing.m4p
music/m4p/05 Heavy Things.m4p
music/m4p/05 Lithium.m4p
music/m4p/05 M79.m4p
music/m4p/05 Moonshadow.m4p
music/m4p/05 Off the Record.m4p
music/m4p/06 Campus.m4p
music/m4p/06 D'yer Mak'er.m4p
music/m4p/06 Fat Bottomed Girls.m4p
music/m4p/06 For the Girl.m4p
music/m4p/06 Polly.m4p
music/m4p/06 Statue Got Me High.m4p
music/m4p/06 Take the Long Way Home.m4p
music/m4p/06 Walk On Me.m4p
music/m4p/06 Wave of Mutilation.m4p
music/m4p/07 Bad.m4p
music/m4p/07 Bicycle Race.m4p
music/m4p/07 El Scorcho.m4p
music/m4p/07 Going to California.m4p
music/m4p/07 In a Daydream.m4p
music/m4p/07 Know Nothing.m4p
music/m4p/07 Suedehead.m4p
music/m4p/07 Tangerine.m4p
music/m4p/07 The Old Apartment.m4p
music/m4p/08 Cynical Girl.m4p
music/m4p/08 Go.m4p
music/m4p/08 I Believe.m4p
music/m4p/08 Landslide.m4p
music/m4p/08 The Ocean.m4p
music/m4p/08 The Old Apartment.m4p
music/m4p/08 When the Levee Breaks.m4p
music/m4p/09 I Don't Want to Know.m4p
music/m4p/09 Jane Says.m4p
music/m4p/09 Mary Anne.m4p
music/m4p/09 On the Road to Find Out.m4p
music/m4p/09 Spiraling Shape.m4p
music/m4p/10 Angel of Harlem.m4p
music/m4p/10 Picture Book.m4p
music/m4p/10 Sitting.m4p
music/m4p/11 Black Dog.m4p
music/m4p/11 Laid.m4p
music/m4p/11 The Kids Don_t Stand a Chance.m4p
music/m4p/11 There.m4p
music/m4p/12 I Hear You Say So.m4p
music/m4p/12 Say Yes.m4p
music/m4p/12 Since You're Gone.m4p
music/m4p/13 Give a Little Bit.m4p
music/m4p/13 Here Comes Your Man.m4p
music/m4p/13 Pinball Wizard.m4p
music/m4p/13 So You Think You're In Love.m4p
music/m4p/14 Across the Universe (remix).m4p
music/m4p/14 Breakup Song (Re-Recorded).m4p
music/m4p/20 The End of the Tour.m4p
music/m4p/21 I'm Free.m4p
tools/exif/exif/obj/exif.csproj.nuget.dgspec.json
tools/exif/exif/obj/exif.csproj.nuget.g.props
tools/exif/exif/obj/exif.csproj.nuget.g.targets
tools/exif/exif/obj/project.assets.json
tools/exif/exif/obj/project.nuget.cache
tools/exif/exif/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
tools/exif/exif/obj/Debug/net5.0/apphost.exe
tools/exif/exif/obj/Debug/net5.0/exif.AssemblyInfo.cs
tools/exif/exif/obj/Debug/net5.0/exif.AssemblyInfoInputs.cache
tools/exif/exif/obj/Debug/net5.0/exif.assets.cache
tools/exif/exif/obj/Debug/net5.0/exif.csproj.AssemblyReference.cache
tools/exif/exif/obj/Debug/net5.0/exif.csproj.CopyComplete
tools/exif/exif/obj/Debug/net5.0/exif.csproj.CoreCompileInputs.cache
tools/exif/exif/obj/Debug/net5.0/exif.csproj.FileListAbsolute.txt
tools/exif/exif/obj/Debug/net5.0/exif.dll
tools/exif/exif/obj/Debug/net5.0/exif.GeneratedMSBuildEditorConfig.editorconfig
tools/exif/exif/obj/Debug/net5.0/exif.genruntimeconfig.cache
tools/exif/exif/obj/Debug/net5.0/exif.pdb
tools/exif/exif/obj/Debug/net5.0/ref/exif.dll
music/Bittersweet.mp3
music/Blue Sky.mp3
tools/exif/exif.sln
tools/exif/.vs/exif/DesignTimeBuild/.dtbcache.v2
tools/exif/.vs/exif/v16/.suo
tools/exif/exif/exif.csproj
tools/exif/exif/Program.cs
tools/exif/exif/bin/Debug/net5.0/exif.deps.json
tools/exif/exif/bin/Debug/net5.0/exif.dll
tools/exif/exif/bin/Debug/net5.0/exif.exe
tools/exif/exif/bin/Debug/net5.0/exif.pdb
tools/exif/exif/bin/Debug/net5.0/exif.runtimeconfig.dev.json
tools/exif/exif/bin/Debug/net5.0/exif.runtimeconfig.json
tools/exif/exif/bin/Debug/net5.0/ExifNET.dll
tools/exif/exif/bin/Debug/net5.0/ref/exif.dll
data/1.txt
data/output.json
